body{
    background-color: black;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

/*Navagation Bar*/
nav{
    background-color: transparent;
    padding: 2%;
    height: 5vh;
}

.nav-items{
    display: flex;
    justify-content:space-evenly;
}

.nav-items a{
    text-decoration: none;
    padding: 1%;
    color:white;
    font-size:1.6rem;
    border-radius: 2rem;
}

.nav-items a:hover{
    background-color: gray;
}

/*HomePage Particles*/
.particles {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.dots {
    display: flex;
    /* pointer-events: none; */
}

.dots span {
    width: 5px;
    height: 5px;
    background: white;
    margin: 0 75px;
    border-radius: 100;
    box-shadow: 0 0 0 10px black, 0 0 50px white,
        0 0 100px green;
    animation: animate 15s linear infinite;
    animation-duration: calc(120s/var(--i));
}

.dots span:nth-child(even) {
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 10px white, 0 0 50px yellow,
        0 0 100px yellow;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(.5);
    }
}

/*Front Page*/
.mainContainer{
    display: flex;
    width: 100%;
    height: 70vh;
}

.leftContainer, .rightContainer{
    flex: 1;
    height: 60vh;
}

/*LEFT SIDE OF MAIN*/
.leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    /* Welcome Title */
.title {
    background: linear-gradient(to right, gray, white, gray);
        -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
}

.topTitle {
    color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s steps(19) 1s forwards,
        cursor .4s step-end infinite alternate;
}

.bottomTitle {
    color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s steps(19) 3s forwards,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: white;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

    /*Home Page Buttons*/
.downloadButton {
    background-color: white;
    color: black;
    padding: 1%;
    border-radius: 1rem;
    text-decoration: none;
    width: 100px;
    height: 20px;
    font-weight: bold;
}

.social {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.social1 {
    width: 45px;
    height: 45px;
}

.social2 {
    width: 60px;
    height: 60px;
}

.downloadButton:hover {
    background-color: gray;

}

.social1:hover {
    width: 50px;
    height: 50px;
}

.social2:hover {
    width: 95px;
    height: 95px;
}

/*RIGHT SIDE OF MAIN*/
.rightContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    /*3D IMAGE*/
pre {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 1rem;

    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transform-style: preserve-3d;
    transform: perspective(3000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}




/*About ME Section*/

.mainContainer2{
    display: flex;
    width: 100%;
    height: 55vh;
}

.leftContainer2,
.rightContainer2 {
    flex: 1;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutSection{
    color: white;
    font-size: 1.875rem;
    margin-left: 3%;
}

.aboutmeTitle {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.aboutmeText {
    font-size: 1.5rem;
    font-family: 'Times New Roman';
    border: 0.313rem solid white;
    border-radius: 3.125rem;
    padding: 1.25rem;
}

.captions{
    display: flex;
    gap: 2.5rem;
    font-size: 1.125rem;
}
.dates{
    display: flex;
    gap: 23rem;
    font-size: 1.125rem;
}

.aboutSectionImg{
    width: 3.75rem;
    height: 3.75rem;
    position: absolute;
        /* Absolute positioning to place on the bar */
        top: 50%;
        /* Center vertically */
        left: 87%;
        /* Center horizontally */
        transform: translate(-50%, -50%);
        /* Center the image */
        z-index: 10;
}

.temple-logo{
    width: 20%;
}

.skill{
    width: 56%;
    /* margin: 60px auto; */
    color: white;
    padding: 3%;
    box-shadow: 0 14px 28px rgb(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.22);
    position: relative;
}

.bar{
    background-color: white;
    display: block;
    height: 1.25rem;
    border: 0.063rem solid white;
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(0,0,0,0.12), 0 1px 2px rgb(0, 0,0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
        /* Relative positioning to establish a stacking context */
    z-index: 0;
}

.bar:hover{
    box-shadow: 0 14px 28px rgb(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.23);
}

.bar span{
    height: 1.25rem;
    float: left;
    background:linear-gradient(135deg, rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
}

.html{
    width: 67%;
    animation: html 3%;
}




/*Experience Section*/

.mainContainer3{
    display: flex;
    width: 100%;
    height: 80vh;
}

.leftContainer3,
.rightContainer3 {
    flex: 0 0 44%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middleContainer3{
    flex: 0 0 10%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


#experienceSection {
    color: white;
    font-size: 30px;
    margin-left: 3%;
}

.experienceTitle{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.experienceSubTitle{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;

}

.experienceSub{
    padding: 2% 5%;
    width: 40%;
    background-color: transparent;
}

.experienceImg{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 50px;
    top: 18%;
    margin: 70px 0;
    position: relative;
    z-index: 1;
}

.middleContainer3::after{
    content:"";
    position: absolute;
    height: 70vh;
    left: 47%;
    top: 4%;
    bottom: 0;
    width: 5%;
    background: white;
    z-index: 0;
}


p{
    font-weight: normal;
    font-size: 20px;
}

.experienceText{
    color: black;
}

.experienceText:hover{
    color: white;
}

.DD {
    background: linear-gradient(90deg, #f58220, #ff3399);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.EL {
    background: linear-gradient(90deg, #040A2B, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.TU{
    background: linear-gradient(to right, #A32036, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}



/*Project Section*/
#projectSection {
    color: white;
    font-size: 1.875rem;
}

.mainContainer4{
    width: 100%;
    height: 70vh;
}

.projectHeading{
    width: 100%;
    height: 10vh;
}

.text-1 {
    text-align: center;
}

.projectTitle {
    text-align: center;
}

.subMain{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    height: 60vh;
}
.leftContainer4,
.rightContainer4,.middleContainer4 {
    flex: 0 0 33%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftContainer4{
    flex-basis: 20%;
    border: 0.3125rem solid #A32036;
    transition: all 1s;
}

.leftContainer4:hover {
    background-color: black;
    box-shadow: 0 0 1.5625rem #A32036,
        0 0 3.125rem #A32036,
        0 0 6.25rem #A32036;
}

.subProjectImg {
    width: 9.375rem;
    height: 9.375rem;
    display: none;
}

.leftContainer4:hover .subProjectImg {
    display: block;
}

.middleContainer4{
    flex-basis: 20%;
    border: 0.3125rem solid #040A2B;
    transition: all 1s;
}

.middleContainer4:hover {
    background-color: black;
    box-shadow: 0 0 3.125rem #040A2B,
        0 0 6.25rem #040A2B,
        0 0 12.5rem #040A2B;
}

.subProjectImg-2 {
    width: 9.375rem;
    height: 9.375rem;
    display: none;
}

.middleContainer4:hover .subProjectImg-2 {
    display: block;
}


.rightContainer4{
    flex-basis: 20%;
    border: 0.3125rem solid #B87333;
    transition: all 1s;
}

.rightContainer4:hover{
    background-color: black;
    box-shadow: 0 0 1.5625rem #B87333,
        0 0 3.125rem #B87333,
        0 0 6.25rem #B87333;
}

.subProjectImg-3 {
    width: 9.375rem;
    height: 9.375rem;
    display: none;
}

.rightContainer4:hover .subProjectImg-3 {
    display: block;
}

.projectOneBtn, .projectTwoBtn, .projectThreeBtn{
    width: 100px;
    height: 50px;
    padding: 10px;
    border: 2px;
    border-radius: 20px;
}

.projectOneBtn:hover,
.projectTwoBtn:hover,
.projectThreeBtn:hover {
    background-color: gray;
}
.projectOneBtn-2, .projectTwoBtn-2, .projectThreeBtn-2{
    width: 100px;
    height: 50px;
    padding: 10px;
    border: 2px;
    border-radius: 20px;
}

.projectOneBtn-2:hover,
.projectTwoBtn-2:hover,
.projectThreeBtn-2:hover{
    background-color: gray;
}


/*Techincal Skills*/
#skillSection{
    margin-bottom: 0;
    margin-top: 20%;
}
.skillText{
    color: white;
    font-size: 50px;
        margin-left: 3%;
        margin-top: 10%;
}

.skillContainer{
    color:white;
    margin-left: 250px;
    width: 50%;
    height:500px;
}

.skills{
    font-size: 30px;
    margin-left: 20%;
}
.skillImg{
    height: 80px;
    width: 80px;
    gap: 4%;
}

.skillLang{
    display: flex;
    gap: 4%;
}
.skillFrame{
    display: flex;
    gap: 4%;
}

/*Contact*/

#contactSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    margin-bottom: 10%;
}
.contactText{
    margin-top: 0%;
    text-align: center;
    color: white;
    font-size:30px;
}

.emailBox{
    display: flex;
    justify-content: center;
    border: rgb(53, 53, 53)0.1 rem solid;
    border-radius: 2rem;
    border-color: white;
    background-color: aliceblue;
    text-decoration: none;
    color: black;
    margin:2rem auto;
    padding: 0.5 rem;
    width: 450px;
}

.emailBox:hover{
    background-color: white;
        box-shadow: 0 0 5px white,
            0 0 10px white,
            0 0 20px white;
}

.email-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    margin: 1rem 0;
}

.email-info p{
    font-size: 20px;
}
.email-info a {
    color: black;
    text-decoration: none;
}

.social-icon{
    cursor: default;
}
.linkedin-logo {
    margin-top: -10px;
    margin-left: 20px;
}