@media (max-width:1700px) {
    .nav-items a{
        font-size: 1.4rem;
    }

    .title{
        font-size: 2rem;
    }

    .downloadButton{
        width: 6.3rem;
        height: 1rem;
        padding: 0.5%;
        border-radius: 0.5rem;
    }

    .social1 {
        width: 2.2rem;
        height: 2.2rem;
    }

    .social2 {
        width: 3.2rem;
        height: 3.2rem;
    }
    
    .pre-container img{
        width: 80%;
    }

    /*About ME*/
    .aboutmeTitle, .experienceTitle, .projectHeading h1, .skillSectionHeading h1, .middleContainer6 h1{
        font-size: 2rem;
    }

    .experienceSubTitle{
        font-size: 1rem;
    }

    .aboutmeText{
        font-size: 1.2rem;
    }
    .dates p, .captions p{
     font-size: 1.2rem;
    }
    .temple-logo{
        width: 15%;
    }
    .aboutSectionImg{
        width: 3rem;
        height: 3rem;
    }

    .leftContainer3 h2, .rightContainer3 h2{
        font-size: 2rem;
    }

    .leftContainer3 small,
    .rightContainer3 small {
        font-size: 1.2rem;
    }

    .leftContainer3 p,
    .rightContainer3 p{
        font-size: 1rem;
    }

    .subMain h2{
        font-size: 2rem;
    }

    .leftContainer4, .middleContainer4, .rightContainer4{
        height: 35rem;
    }
    .subMain button{
        width: 5.5rem;
        height: 3rem;
        border-radius: 1rem;
    }

    .leftContainer5, .rightContainer5{
        font-size: 1.2rem;
    }
    .skillImg{
        height: 3.5rem;
        width: 3.5rem;
    }

    .emailBox{
        margin: 2rem auto;
        width: 24rem;
    }
    .emailBox a{
        font-size: 1.2rem;
    }

    .social-icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .social-icon2 {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 3%;
    }
}